Body {
  background-color: aquamarine;
  /* display: flex; */
  /* flex-direction: column; */
}

h1 {
  font-size: 20px;
  height: 50px;


}

.Content-container {
  display: flex;
  justify-content: center;
}

.botttom-container {
  background-color: black;
  transform: translateY(-100%);
  display: inline-block;
}

.submit-container {
  display: flex;
  justify-content: space-evenly;
  vertical-align: text-bottom;
}

.slider-container {
  display: flex;
  vertical-align: text-bottom;
}

.slider-output{
  text-align: center;
}

/* #sliderValue {
  text-align: center;
} */

#pageHeader {
  display: flex;
  justify-content: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#theCount {
  display: flex;
  justify-content: center;
  font-weight: normal;
}
